.heading 
{
	background-color: #00695C;
	color: white;
	font-family: Raleway;
}

.subtopic
{
	background-color:  #00695C;
	text-align: center;
	color: white;
	font-family: Raleway;
}

div.code 
{

	height : 500px;
	background-color: #DEE4DD;
	overflow: scroll;
}

